<!-- Navigation-->
<a class="menu-toggle rounded" href="#"><i class="fas fa-bars"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand"><a href="/">BEGO</a></li>
        <li class="sidebar-nav-item"><a href="/api/v1/documentos">Documentos</a></li>
        <li class="sidebar-nav-item"><a href="">Entidades</a></li>
        <li class="sidebar-nav-item"><a href="">Series</a></li>
        <li class="sidebar-nav-item"><a href="">Tipo de Documentos</a></li>
        <li class="sidebar-nav-item"><a href="">Reportes</a></li>
    </ul>
</nav>